.navbar {
    width: 100%;
    height: 84px;
    background: #DFF6FF;
    padding-top: 0px !important;
}

.logo {
    margin-top: 6px;
    width: max-content;
    height: 48px;
}

.formSearch {
    display: flex;
    flex-direction: row;
    width: 356px;
    background: white;
    margin-top: 8px;
    padding: 3px 0px 3px 0px;
    border: 1px solid #EEEEEE;
    border-radius: 16px;
}

.formInput {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.iconSearch {
    border: none;
    border-top-right-radius: 25px;
}

.btnText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    padding: 4px;
}

.button {
    margin-top: 10px;
}

.fontTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #47b5ff !important;
}